* {
    box-sizing: border-box;
}
.header {
    text-align: center;
    background-color: bisque;
    margin: 0px;
    padding: 8px;
    color: rgb(165, 74, 10);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
    background-color: rgb(165, 74, 10);
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: bisque;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.footer {
    background-color: rgb(165, 74, 10);
    color: bisque;
}
